body {
  background: linear-gradient(to right, #f8b595, #f67280, #c06c84, #6c5b7c);
  color: #ffffff;
  padding: 50px;
  font-family: 'Roboto', sans-serif; /* Apply the custom font */
}
h1,h2{

}

.container {
  width: 80%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
.form-container{
  width: 500px;
}

.form-group label {
  color: #ffffff;
  padding: 10px;
}
.custom-font {
  font-family: 'Roboto', sans-serif;
}
#exampleFormControlTextarea1{
  margin: 20px;
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
  border-radius: 10px;
}

/* Apply the provided color scheme to buttons */
.btn-primary.first-color { background: #f8b595; }
.btn-primary.second-color { background: #f67280; }
.btn-primary.third-color { background: #c06c84; }
.btn-primary.fourth-color { background: #6c5b7c; }

/* Apply the provided color scheme to form text */
.first-color-text { color: #f8b595; }
.second-color-text { color: #f67280; }
.third-color-text { color: #c06c84; }
.fourth-color-text { color: #6c5b7c; }
